.image_failed {
    font-size: 12px;
}

.section_header {
    padding-bottom: 8px;
    border-bottom: 1px solid $dark-blue;
    margin: 0.75em;
    margin-left: 0em;
}

.section_title {
    padding-bottom: 8px;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 3px solid $primary;
}