.unit_info.MuiPaper-root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    margin: 0 auto;
    width: 100%;

    .hero_forms_image {
        height: 100px;
        margin-right: 1em;
        margin-left: 0.5em;
    }
}

#hero_page_name {
    color: $primary;
    margin-top: 1em;
    margin-bottom: 0em;
}

#hero_page_class {
    color: darken($off-white, 10%);
    margin: 0em 0 0.25em 0;
    font-size: 12px;
}

#hero_page_type {
    color: $off-white;
    margin: 0.25em 0 0.25em 0;
}

.hero_page_back_button.MuiButton-root {
    margin-left: auto;
    margin-right: 1em;
}

#hero_page_back_link {
    color: $primary;
    text-decoration: none;
    font-weight: 400;
    transition-duration: 0.3s;
}

#hero_page_back_link:hover {
    color: lighten($primary, 10)
}