.skills_arranger {
    display: flex;

    .skill_container {
        width: 80px;
        margin-right: 1.5em;

        .skill_image {
            height: 80px;
            width: 80px;
        }

        .skill_title {
            margin: 0px;
        }
    }
}