.hero_page_container.MuiPaper-root {
    padding: 1em;
    border-radius: 8px;
    margin: 0.5em 0.5em 0em 0em;
    box-sizing: border-box;
    color: $off-white;
}

.hero_page_details {
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    margin-top: 1em;
}

.hero_page_right_column {
    width: 60%
}

.hero_page_left_column {
    width: 40%
}