.content_container {
    max-width: 960px;
    margin: auto;
}

.hero_page_container {
    background: $off-black;
    padding: 1em;
    border-radius: 8px;
    margin: 0.5em 0.5em 0em 0em;
    border: 1px solid $dark-blue;
    box-sizing: border-box;
}

.hero_page_details {
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    margin-top: 1em;
}

.hero_page_right_column {
    width: 60%
}

.hero_page_left_column {
    width: 40%
}

.image_failed {
    font-size: 12px;
}

.section_header {
    padding-bottom: 8px;
    border-bottom: 1px solid $dark-blue;
    font-size: 1.5em;
    margin: 0.75em;
    margin-left: 0em;
}