.hero_forms_image {
    max-height: 100px;
    max-width: 12%;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.weapon_forms_image {
    max-height: 100px;
    max-width: 12%;
    margin-right: 0.5em;
    margin-left: 0.5em;
}