.skills_arranger {
    display: flex;

    .skill_container {
        width: 80px;
        margin-right: 1.5em;

        .skill_image {
            max-height: clamp(50px, 13vw, 80px);
            max-width: clamp(50px, 13vw, 80px);
        }

        .skill_title {
            margin: 0px;
        }
    }
}