.top_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $dark-blue;

    .hero_forms_image {
        height: clamp(80px, 16vw, 100px);
        margin-right: 1em;
        margin-left: 0.5em;
    }

    .hero_page_title_container {
        margin-right: 2em;
    }
}

#hero_page_name {
    color: $primary;
    margin-top: 1em;
    margin-bottom: 0em;
}

#hero_page_class {
    color: $off-white;
    margin: 0em 0 0.25em 0;
}

#hero_page_type {
    color: $off-white;
    margin: 0.25em 0 0.25em 0;
}

#hero_page_back_button {
    background-color: $primary;
    border: 0px;
    padding: 0.5em;
    margin-left: auto;
    margin-right: 1em;
}

#hero_page_back_link {
    color: $off-white;
    text-decoration: none;
}