.build_tab.MuiButton-root {
    display: inline;
    background-color: transparent;
    border: 1px solid $primary;
    border-radius: 4px;
    color: $primary;
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.build_tab.MuiButton-root:hover {
    background-color: lighten($dark-blue, 10);
    border: 1px solid $off-white;
    color: $off-white;
    transition-duration: 0.3s;
}

.build_tab_active.MuiButton-root {
    background-color: $primary;
    color: $dark-blue;
    border: 1px solid darken($grey, 10);
}

.set_header.MuiTypography-root {
    color: $off-white;
    font-weight: 600;
    font-size: 1.2rem;
}

.sigil_container {
    display: flex;
    margin-bottom: 0.5em;

    .sigil_name {
        font-size: 16px;
        margin: 1em;
    }

    .sigil_image {
        height: 50px;
        width: 50px;
    }
}

.set_upgrade {
    font-size: 14px;
}

.set_upgrades_container {
    margin-top: 1em;
    margin-bottom: 1em;
}