.top_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $dark-blue;

    .hero_forms_image {
        height: clamp(80px, 16vw, 100px);
        margin-right: 1em;
        margin-left: 0.5em;
    }

    .hero_page_title_container {
        margin-right: 2em;
    }
}

#hero_page_name {
    color: $primary;
    margin-top: 1em;
    margin-bottom: 0em;
}

#hero_page_class {
    color: $off-white;
    margin: 0em 0 0.25em 0;
}

#hero_page_type {
    color: $off-white;
    margin: 0.25em 0 0.25em 0;
}

#hero_page_back_button {
    background-color: $primary;
    border: 0px;
    padding: 0.5em;
    margin-left: auto;
    margin-right: 1em;
}

#hero_page_back_link {
    color: $off-white;
    text-decoration: none;
}

#hero_page_rating {
    margin: 0em 0.5em 0.5em 0.5em;
}

#hero_page_skill_suggestions_title {
    margin: 0em 0.5em 0.5em 0em;
}

.hero_page_info_section {
    width: 80%;
    margin: auto;
}

.hero_page_container {
    background-color: $dark-blue;
    width: 100%;
    padding: 1em;
    border-radius: 8px;
}

.hero_container {
    display: flex;
    align-items: flex-end;

    .hero_forms_image {
        max-height: clamp(50px, 13vw, 80px);
        margin-right: 1em;
        margin-left: 0.5em;
    }
}

.weapon_container {
    display: flex;
    align-items: flex-end;

    .weapon_forms_image {
        max-height: clamp(50px, 13vw, 80px);
        margin-right: 1em;
        margin-left: 0.5em;
    }
}