.hero_table {
  border-spacing: 0;

  th {
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 2px solid $off-white;
    text-align: left;
  }

  td {
    padding: 0.5em;
    padding-bottom: 0px;
  }
}

.delete_button {
  border: none;
  border-radius: 2px;
  background-color: $primary;
  color: $off-black;
  font-weight: 200;
  padding: 0.25em 1em 0.25em 1em;
}

.hero_link {
  text-decoration: none;
  color: $primary;
  font-weight: 600;
  font-size: 1.2em;
  margin-right: 1em;
}

.tier_rating {
  font-weight: bold;
  text-align: center;
}

.color_OP {
  color: $light_purple;
}

.color_S {
  color: $light_blue;
}

.color_A {
  color: $light_green;
}

.color_B {
  color: $light_yellow;
}

.color_C {
  color: $light_orange;
}

.color_D {
  color: $light_red;
}

.color_Other {
  color: $light_grey;
}