@import './variables/variables.scss';

@import './HeroTable.scss';
@import './Hero_Page/HeroPage.scss';
@import './Hero_Page/Hero_Page_Top_Bar.scss';
@import './Hero_Page/Hero_Page_Rating.scss';
@import './Hero_Page/Hero_Page_Images.scss';
@import './Hero_Page/Hero_Page_Skills.scss';
@import './Hero_Page/Hero_Page_Builds.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $off-black;
  color: $off-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}