.OP.MuiTableCell-root {
    color: $color-OP;
}

.S.MuiTableCell-root {
    color: $color-S;
}

.A.MuiTableCell-root {
    color: $color-A;
}

.B.MuiTableCell-root {
    color: $color-B;
}

.C.MuiTableCell-root {
    color: $color-C;
}

.D.MuiTableCell-root {
    color: $color-D;
}

.F.MuiTableCell-root {
    color: $color-F;
}

.other.MuiTableCell-root {
    color: $color-none;
}