.OP.MuiTableCell-root {
    color: #da09ff;
}

.S.MuiTableCell-root {
    color: #834bff;
}

.A.MuiTableCell-root {
    color: #2979ff;
}

.B.MuiTableCell-root {
    color: #00e676;
}

.C.MuiTableCell-root {
    color: #c6ff00;
}

.D.MuiTableCell-root {
    color: #e05d35;
}

.F.MuiTableCell-root {
    color: #b22a00;
}

.other.MuiTableCell-root {
    color: #838383;
}