$off-white: #E4E5E6;
$grey: #5B5B5B;
$off-black: #252636;
$black: #121212;
//$black: #2e3060

$light-blue: #b6cff5;
$primary: #7e97fa;
$dark-blue: #272f59;

// tier colors
$color-OP: #e04be0;
$color-S: #ef5350;
$color-A: #ff7f7f;
$color-B: #f9a2a2;
$color-C: #ffbf7f;
$color-D: #ffff7f;
$color-F: #bfff7f;
$color-none: #838383;