$off-white: #E4E5E6;
$grey: #5B5B5B;
$off-black: #181e42;

$light-blue: #b6cff5;
$primary: #7e97fa;
$dark-blue: hsl(230, 39%, 25%);

$light_purple: #e365ff;
$light_blue: #57b9ff;
$light_green: #59ffde;
$light_yellow: #fbda64;
$light_orange: #ffae6c;
$light_red: #ff64aa;
$light_grey: #a4a4a4;